@model ListPostViewModel

<div class="text-center">
    <h1 class="display-4">Welcome to Zemoga Blog</h1>
</div>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Content</th>
            <th>Author</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var post in Model.ListPost)
        {
        <tr>
            <td class="text-center">@post.Title </td>
            <td class="text-left">@post.Content </td>
            <td class="text-left">@post. </td>

        </tr>
        }
    </tbody>

</table>
